<% title= 'Addcustomer'%>
<%-include('layout/rootHead')%>
              
            <main>
                <form action="/addcustomer" enctype="multipart/form-data" method="post">
                    <%if(typeof errors != 'undefined'){%>
                        <% errors.forEach((error)=>{ %>
                            <p style="color: red"><%= error.msg %></p>
                        <%})%>
                    <%}%>
                    <%if(success != 'undefined'){%>
                            <p style="color: white"><%= success %></p>
                    <%}%>
                    <%if(errMsg != 'undefined'){%>
                            <p style="color: red"><%= errMsg %></p>
                    <%}%>
                <p>
                    <label for="">Firstname: </label><input type="text" name="fname" value="<%= typeof fname != 'undefined' ? fname : '' %>">
                    <label for="">Lastname: </label><input type="text" name="lname" value="<%= typeof lname != 'undefined' ? lname : '' %>">
                    <label for="">Mobile: </label><input type="number" name="mobile" value="<%= typeof mobile != 'undefined' ? mobile : '' %>">
                    <label for="">Email:</label> <input type="text" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
                    <label for="">Sex:</label> Male<input type="radio" name="sex" value="Male"
                        <% if(typeof sex != 'undefined' && sex == "Male"){%> checked <%}%>>
                            Female<input type="radio" name="sex" value="Female"
                        <% if(typeof sex != 'undefined' && sex == "Female"){%> checked <%}%>>
                    
                    <label for="">Bvn:</label> <input type="number" name="bvn" value="<%= typeof bvn != 'undefined' ? bvn : '' %>">
                    <label for="">Passport</label> <sub>must be under 1mb</sub> : <input type="file" name="passport" value="<%= typeof passport != 'undefined' ? passport : '' %>">
                    <label for="">Account Type:</label> Savings<input type="radio" name="accType" value="Savings" 
                        <% if(typeof accType != 'undefined' && accType == 'Savings'){%> checked <%}%>>
                                    Current<input type="radio" name="accType" value="Current" 
                        <% if(typeof accType != 'undefined' && accType == 'Current'){%> checked <%}%>>
                                    Fixed<input type="radio" name="accType" value="Fixed" 
                        <% if(typeof accType != 'undefined' && accType == 'Fixed'){%> checked <%}%>>
                    
                    <label for="">Opening Balance:</label><input type="number" name="obal" value="<%= typeof obal != 'undefined' ? obal : '' %>">
                    <label for="">Password:</label> <input type="text" name="password" value="<%= typeof password != 'undefined' ? password : '' %>" />
                    <label for=""><span style="text-align: center;"><button type="submit"> add </button></span></label>
                </p>
                </form>
            </main>
<%-include('layout/rootFoot')%>