<!DOCTYPE html>
<html>
    <head>
        <title>Oz | Home</title>
        <link rel="stylesheet" href="css/customStyle.css">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    </head>
    <body>
        <section>
            <header>
               <h2>Oz🏦</h2>

                <a href="/customer-dashboard">home</a>
                <a href="/transfer">transfer</a>
                <a href="/transaction">transaction</a>
                <a href="/customer-logout">logout</a> 
            </header>

            <main>
                <aside>
                    <% if(success != 'undefined') { %>
                        <p style="color: #fff"> <%- success %> </p>
                        <% } %>
                        
                        <% if(errMsg != 'undefined'){ %>
                        <p style="color: red"> <%= errMsg %> </p>
                        <% } %>
                    <img src="data:public/upload/<%=customer.passport.contentType%>;base64,<%- customer.passport.data.toString('base64')%>" alt="profile" width="200" height="200" />
                </aside>
                
                <article>
                    <p><%- customer.fname + " - " + customer.lname %></p>
                    <p>BVN: <%- customer.bvn%></p>    
                    <p>Acc Number: <%- customer.accNum%></p>
                    <p>Acc Type: <%- customer.accType %></p>
                    <p>Acc Ball: <%- customer.cbal %></p>
                </article>
            </main>

            <footer>
                ©️ <script> document.write(new Date().getFullYear().toString()) </script> OzBank Plc.
            </footer>
        </section>
    </body>
</html>