<% title= 'customer'%>
<%-include('layout/cusHeader')%>
            <main>
                <form action="/customer" method="post">
                    <% if(success != 'undefined') { %>
                    <p style="color: #fff"> <%- success %> </p>
                    <% } %>
                    
                    <% if(errMsg != 'undefined'){ %>
                        <p style="color: red"> <%= errMsg %> </p>
                        <% } %>
                        
                        <label>Email: </label>
                            <input type="text" name="email"
                            value="<%= typeof email != 'undefined' ? email : '' %>"></p>
                        <label>Password: </label>
                            <input type="text" name="password"
                            value="<%= typeof password != 'undefined' ? password : '' %>"></p>
                        
                        <button type="submit"> Login </button>   
                        <button type="reset"> Reset </button>   
                </form>    
            </main>
            <footer>
                ©️ <script> document.write(new Date().getFullYear().toString()) </script> OzBank Plc.
                <a href="/">Admin</a>
            </footer>
            </section>
            </body>
            </html>