<% title= 'Dashboard'%>
<%-include('layout/rootHead')%>
            
            <main>
                <p>Banker_email: <strong> <%- a_email %> </strong> <br>
                User: <strong> <%- a_id %> </strong> <br>
                Admin: <strong><%= a_name %>   </strong></p>
            </main>
<%-include('layout/rootFoot')%>
