<% title= 'Details'%>
<%-include('layout/rootHeader')%>  
            <main>
                    <aside>
                        <%if(success != 'undefined'){%>
                            <p style="color: #fff"><%= success %></p>
                        <%}%>
                        <%if(errMsg != 'undefined'){%>
                                <p style="color: red"><%= errMsg %></p>
                        <%}%>
                        <img src="data:public/upload/<%=details.passport.contentType%>;base64,<%- details.passport.data.toString('base64')%>" alt="profile" width="200" height="200" />
                        <br>
                        <p><%- details.fname + " - " + details.lname %></p>
                    </aside>
                
                    <article>
                        <table border="0" align="center">
                            <tr>
                                <td>Gender:</td>
                                <td><%= details.sex %></td>
                            </tr>
                            <tr>
                                <td>Mobile:</td>
                                <td><%= details.mobile %></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><%= details.email %></td>
                            </tr>
                            <tr>
                                <td>BVN:</td>
                                <td><%= details.bvn%></td>
                            </tr>
                            <tr>
                                <td>Acc Number:</td>
                                <td><%= details.accNum%></td>
                            </tr>
                            <tr>
                                <td>Acc Type:</td>
                                <td><%= details.accType %></td>
                            </tr>
                            <tr>
                                <td>Acc Bal:</td>
                                <td><%= details.cbal %></td>
                            </tr>
                            
                            <td><a href="/edit/<%= details._id %>"><button>Edit</button></a></td>
                            <td><a href="/delete/<%= details._id %>"><button>Delete</button></a></td>
                           
                        </table>
                    </article>
            </main>
            
            <%-include('layout/rootFoot')%>