<% title= 'Details'%>
<%-include('layout/rootHead')%>  
            <main>
                <form action="/edit/<%= details._id %>" method="post">
                    <%if(typeof errors != 'undefined'){%>
                        <% errors.map((error)=>{ %>
                            <h5 style="color: red"><%= error.msg %></h5>
                        <%})%>
                    <%}%>
                    <%if(success != 'undefined'){%>
                            <p style="color: green"><%= success %>
                    <%}%>
                    <%if(errMsg != 'undefined'){%>
                            <p style="color: red"><%= errMsg %></p>
                    <%}%>
                    <p>
                    <label for="">Firstname: </label><input type="text" name="fname" value="<%= details.fname %>">
                    <label for="">Lastname:</label> <input type="text" name="lname" value="<%= details.lname %>">
                    <label for="">Mobile:</label> <input type="number" name="mobile" value="<%= details.mobile %>">
                    <label for="">Email:</label> <input type="text" name="email" value="<%= details.email %>">
                    <label for="">Sex:</label> Male<input type="radio" name="sex" value="Male"
                        <% if(typeof sex != 'undefined' && sex == checked){%> checked <%}%>>
                            Female<input type="radio" name="sex" value="Female"
                        <% if(typeof sex != 'undefined' && sex == checked){%> checked <%}%>>
                    
                    <label for="">Bvn:</label> <input type="number" name="bvn" value="<%= details.bvn %>">
                    <!-- <label for=""></label>Passport: <input type="file" name="passport" value="<%= details.passport %>"> -->
                    <label for="">Account Type:</label> Savings<input type="radio" name="accType" value="Savings" 
                        <% if(typeof accType != 'undefined' && accType == check){%> checked <%}%>>
                                    Current<input type="radio" name="accType" value="Current" 
                        <% if(typeof accType != 'undefined' && accType == check){%> checked <%}%>>
                                    Fixed<input type="radio" name="accType" value="Fixed" 
                        <% if(typeof accType != 'undefined' && accType == check){%> checked <%}%>>
                    
                    <label for="">Current Balance:</label><input type="number" name="obal" value="<%= details.cbal %>">
                    <label for=""><span style="text-align: center;"><button type="submit"> Update </button></span></label>
                    </P>
                </form>
        </main>
<%-include('layout/rootFoot')%>