<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Signup</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>
<body>
    <section>
        <header>
            <h2>oz🏦</h2>
            <a href="/signup">register</a>
            <a href="/signin">login</a>
            <a class="cta" href="/customer"> <button>TheBank</button></a>
        </header>
        <main>
        <form action="/signup" method="post">
            <% if (typeof errors != 'undefined') { %>
                <% errors.forEach(function(error) { %>
                    <p style="color: red;"><%- error.msg %></p>
                <% }); %>
            <% } %>
            
            <% if (typeof success != 'undefined') { %>
                <p style="color: greenyellow;"><%- success %></p>
            <% } %>
            
            <% if (typeof errMsg != 'undefined') { %>
                <p style="color: brown;"><%= errMsg %></p>
            <% } %>
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" 
                value="<%= typeof username != 'undefined' ? username : '' %>">
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="text" name="email" 
                value="<%= typeof email != 'undefined' ? email : '' %>">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="text" name="pass1" 
                value="<%= typeof pass1 != 'undefined' ? pass1 : '' %>">
            </p>
            <p>
                <label for="confirmPass">Confirm Password:</label>
                <input type="text" name="pass2" 
                value="<%= typeof pass2 != 'undefined' ? pass2 : '' %>">
            </p>
            <p>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </p>
        </form>
    </main>
    <footer>
        <small>
            ©️ <script> document.write(new Date().getFullYear().toString()) </script> OzBank Plc.
        </small>
    </footer>
    </section>
</body>
</html>