<% title= 'Login'%>
<%- include('layout/authHead.ejs')%>
        <main>
        <form action="signin" method="post">
            <% if(success != 'undefined'){%>
                <p style="color: greenyellow;"><%- success %></p>
            <% }%>
            <% if(errMsg != 'undefined'){%>
                <p style="color: red;"> <%- errMsg %> </p>
            <% } %>
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" value="<%= typeof username != 'undefined' ? username : '' %>">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" name="password" value="<%= typeof password != 'undefined' ? password : '' %>"> 
        </p>
        <p>
            <button type="submit">submit</button>
            <button type="reset">reset</button>
        </p>
    </form>
</main>

<%- include('layout/authFoot')%>