<% title= 'Transaction'%> 
<%-include('layout/cusHeader')%>

<main>
  <table border="1" align="center" style="margin: auto; padding: auto">
    <tr class="active">
      <th>Sender</th>
      <th>Recipient</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Transaction Date</th>
    </tr>
    <tr>
      <% customers.map((customer) =>{ %>
      <td><%-customer.sender_name %></td>
      <td><%-customer.recipient_name %></td>
      <td><%-customer.type %></td>
      <td><%-customer.transaction_amt %></td>
      <td><%-new Date(customer.date).toLocaleString() %></td>
    </tr>
    <%})%>
  </table>
</main>
<%-include('layout/cusFoot')%>
