<!DOCTYPE html>
<html>
    <head>
        <title>Oz | Viewcustomer</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    </head>
    <body>
            
        <section>
            <header>
                <h2>oz🏦</h2>
                <a href="/dashboard">home</a>
                <a href="/addcustomer">addcustomer</a>
                <a href="/viewcustomer">viewcustomer</a>
                <a href="/logout">logout</a>
            </header>
            
           <main>
               
               
               
           <table border="1" align="center">
               <tr>
                   <th>Name</th>
                   <th>Mobile</th>
                   <th>Email</th>
                   <th>Gender</th>
                   <th>Details</th>
               </tr>
               <tr>
                   <% customers.map((customer)=>{%>
                        <td> <%-customer.fname + "-" + customer.lname %> </td>
                        <td> <%-customer.mobile %> </td>
                        <td> <%-customer.email %> </td>
                        <td> <%-customer.sex %> </td>
                        <td> <a href="/details/<%-customer._id%>">more</a> </td>
               </tr>
               <%})%>
               <tr style="border: none;">
                <td colspan="5" style="text-align: center;">
                  <% if(success != 'undefined') { %>
                   <p style="color:seashell"> <%- success %> </p>
               <% } %>
                   
               <% if(errMsg != 'undefined'){ %>
                   <p style="color: red"> <%= errMsg %> </p>
               <% } %>  
                </td>
                
               </tr>
           </table>
        </main>
        <footer>
            <small>
                ©️ <script> document.write(new Date().getFullYear().toString()) </script> OzBank Plc.
            </small>
        </footer>
        </section>
            
    </body>
</html>